.menu-container {
  position: relative;
  display: inline-block;
  text-align: left;
}

.menu-container .menu-list {
  position: absolute;
  right: 1rem;
  margin-top: 1rem;
  width: 12rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px var(--shadow-color);
  background-color: #fff;
  border: 1px solid var(--mui-list-border);
  z-index: 1400;
  color: var(--black-color) !important;
}

.menu-container .menu-list .menu-content {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.menu-content:hover {
  background-color: rgba(25, 118, 210, 0.08);
}

.add-user-drawer-header {
  padding-top: 0px !important;
}

/* .add-user-drawer-header .drawer-footer-buttons {
  padding-right: 1rem !important;
} */

@media (max-width: 600px) {
  .add-user-drawer-header > .MuiGrid-root {
    margin-left: -8px !important;
  }
  /* .add-user-drawer-header .drawer-footer-buttons {
    padding-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  } */
}
.custom-toolbar {
  color: 'var(--primary-color) !important';
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: space-between !important;
}

.breadcrumb {
  margin-bottom: 0.625rem !important;
}
.breadcrumb .breadcrumb-home {
  color: var(--text-secondary-color);
  font-family: 'inter-regular';
  font-size: 0.75rem;
  font-style: normal;
  line-height: 15px;
}

.breadcrumb .breadcrumb-home:hover {
  cursor: pointer;
  text-decoration: underline;
}
.breadcrumb .breadcrumb-main {
  font-family: 'inter-regular';
  font-size: 0.75rem;
  font-style: normal;
  line-height: 15px;
}
