.appbar-menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 0.4rem;
  align-items: center;
  padding: 0.75rem 0.625rem;
}

.appbar-menu .appbar-menu-items {
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.313rem;
  cursor: pointer;
  object-fit: contain;
}

.appbar-menu .appbar-menu-items:hover {
  border-radius: 100%;
}

.appbar-menu .appbar-menu-mode {
  object-fit: contain;
}

.appbar-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.appbar-lm-item {
  display: flex;
  padding: 0.125rem 0.625rem;
  align-items: flex-start;
  gap: 0.625rem;
}

.appbar-lm-item .appbar-lm-text {
  color: var(--black-color) !important;
  font-family: 'inter-regular' !important;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.dashboard-card .mu-kpi-card {
  display: flex;
  padding: 0.875rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
  box-shadow: none;
  min-width: 8.125rem;
}

.mu-kpi-card .kip-ic {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.mu-kpi-card .MuiCardContent-root:last-child {
  padding: 0rem !important;
}

.mu-kpi-card .MuiCardContent-root {
  padding: 0rem !important;
}

.mu-kpi-card .user-img {
  width: 1.875;
  height: 1.875;
  object-fit: contain;
}

.MuiAutocomplete-hasPopupIcon.css-1wzrloz-MuiAutocomplete-root .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-1wzrloz-MuiAutocomplete-root .MuiOutlinedInput-root {
  height: 2.563rem;
}

.muViewUserContainer {
  margin-left: 0.1rem !important;
  margin-top: 0.5rem !important;
}

.kpi-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cursor-not-allowed {
  cursor: not-allowed;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1065px) and (min-width: 768px) {
  .create-user {
    margin-top: 1rem !important;
  }

  .view-modal-content {
    color: var(--ternary-color) !important;
    margin-top: 1rem !important;
  }

}

@media (max-width: 767px) and (min-width: 350px) {
  .kpi-dashboard {
    display: block;
  }

  .create-user {
    margin-top: 1rem !important;
  }

  .view-modal-content {
    color: var(--ternary-color) !important;
    margin-top: 1rem !important;
  }

}

.mu-kpi-card .user-img {
  width: 1.875;
  height: 1.875;
  object-fit: contain;
}

.input-value {
  width: 433px;
  color: var(--heading-color);
  font-family: 'inter-regular' !important;
  font-size: 0.875rem;
  
  line-height: 20px;
}

.input-custom-details-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.input-item-label {
  width: 41%;
  flex-shrink: 0;
}

.input-label-key {
  color: var(--text-secondary-color);
  font-size:  0.75rem !important;
  font-family: 'inter-regular' !important;
  line-height: 1.125rem !important;
}

.input-item {
  width: 100%;
  height: 1.25rem;
  gap: 1.25rem;
  display: flex;
  justify-content: space-around;
}

.custom-divider {
  display: flex;
  width: 100%;
  height: 0.063rem;
  padding-top: 0.063rem;
  justify-content: center;
  align-items: center;
  background: var(--divider-section-color);
}

.custom-cancel-button {
  height: 2.5rem !important;
  display: flex;
  padding: 0.5rem 1.375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;

  border-radius: var(--borderRadius, 0.25rem);
  border: 0.063rem solid var(--card-border-color);
}

.custom-import-button {
  height: 2.5rem !important;

  display: flex;
  padding: 0.5rem 1.375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;

  border-radius: var(--borderRadius, 0.25rem);
  border: 0.063rem solid var(--card-border-color);
}

.render-section-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
}

.avatar-box-container {
  display: inline-flex !important;
  flex-direction: column !important;
  align-items: center;
  gap: 0.875rem !important;
  margin-top: 2.5rem;
}

.avatar-box-item {
  display: flex;
  width: 5rem !important;
  height: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  position: relative;
  background: var(--highlighted-color);
}

.avatar-box-item-1 {
  display: flex;
  align-items: flex-start;
  position: absolute;
  right: 1.344rem;
  top: 1.375rem;
  left: 1.375rem;
  bottom: 1.375rem;
}

.avatar-box-item-asf {
  flex: 1 0 0;
  align-self: stretch;
  width: 2.25rem !important;
  height: 2.25rem !important;
}

.avatar-box-item-text {
  width: 16.25rem !important;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-box-item-text-1 {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  letter-spacing: 0rem;
  text-align: center;
  border-radius: 0.25rem;
  color: var(--muted-text);
}

/* household tab */

.tree-link {
  stroke: var(--primary-color) !important;
  stroke-width: 2px;
  fill: none;
  marker-end: url(#dot);
  marker-start: url(#dot);
}

/* //------// Change HOH CSS //------// */
.modal-contents-flex {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
  gap: 1.25rem !important;
}

.modal-contents-hoh {
  width: 100%;
  gap: 1.875rem !important;
}

.modal-formfields-container {
  align-items: flex-start;
  gap: 1.25rem !important;
  align-self: stretch;
  overflow-x: auto;
  width: 100%;
  flex-wrap: nowrap !important;
}

.modal-input-field {
  display: flex;
  padding: 0.625rem 0.625rem 0.625rem 0.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  flex: 0 0 auto;
  border-radius: 0.25rem;
  background: var(--highlighted-color);
  width: 22.5rem;
}

.modal-input-field-conatiner {
  display: flex !important;
  align-items: center;
  gap: 0.5rem !important;
}

.modal-input-field-item {
  display: flex;
  width: 1rem;
  height: 1rem;
  align-items: flex-start;
}

.modal-input-field-item-img {
  flex: 1 0 0;
  align-self: stretch !important;
  margin-top: -0.188rem;
}

.modal-input-field-item-head {
  color: var(--muted-text);
  font-size:  0.875rem !important;
  font-family: 'inter-semibold' ;
  line-height: 1.25rem !important;
}

.modal-input-field-item-value {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.modal-input-field-item-value-input {
  color: var(--heading-color);
  font-size:  0.875rem !important;
  font-family: 'inter-regular';
  line-height: 1.25rem !important;
}

.modal-input-field-item-value-dot {
  width: 0.25rem !important;
  height: 0.25rem !important;
}

.modal-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.modal-heading-display {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modal-heading-main {
  color: var(--primary-color);
  font-size: 1.125rem !important;
  font-family: 'inter-semibold' !important;
  line-height: 150% !important;
}

.modal-heading-main-icon {
  display: flex !important;
  align-items: flex-start;
}

.modal-heading-main-icon-item {
  width: 1.25rem !important;
  height: 1.25rem !important;
  margin-top: 0.125rem;
}

.modal-input-field-reqedits-history {
  display: flex;
  padding: 0.625rem 0.625rem 0.625rem 0.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  flex: 0 0 auto;

  border-radius: 0.25rem;
  background: var(--highlighted-color);
  width: 22.063rem;
}
.icon-wrapper {
  display: flex;
  align-items: center;
}